APP_HOST=
APP_PROTOCOL=https
LINE_NOTIFICATION_ENABLED=false
LINE_CHANNEL_ACCESS_TOKEN=
LINE_LOGIN_CHANNEL_ID=
LINE_LOGIN_CHANNEL_SECRET=
LINE_LOGIN_REDIRECT_URI=
REDIS_URL=redis://redis:6379/0
SIDEKIQ_CONCURRENCY=5
